@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>An app developed by Andrei Cernei</p>

<p>
    See my other prjects on
    <a href="https://github.com/ACernei">https://github.com/ACernei</a>
</p>
